<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Stein, Saks, Papir</title>
		<link rel="stylesheet" href="../public/stylesheets/stylesheet_score.css">
		<link rel="stylesheet" href="../public/stylesheets/stylesheet_pictures.css">
	</head>
	<body>
		<div id="top">
			<div id="frame">
				<div class="inline playerinfo" id="player1info">
					<p id="player1">Player: </p>
					<p id="player1elo">Elo: </p>
				</div>
				<div class="scoreBorder inline">
					<div id="leftdiv" class="score">
					<p id="points1" class="points">0</p>
					</div>
					<div id="rightdiv" class="score">
						<p id="points2" class="points">0</p>
					</div>
				</div>
				<div class="inline playerinfo" id="player2info">
					<p id="player2">Player: </p>
					<p id="player2elo">Elo: </p>
				</div>
			</div>
		</div>
		<div id="options">
			<div class="choises_div" id="stone">
				<img src="http://elevweb.akershus-fk.no/~scan2008/Stein,%20Saks,%20Papir/stein.png" alt="stone" class="choices">
			</div>
			<div class="choises_div" id="scissor">
				<img src="http://elevweb.akershus-fk.no/~scan2008/Stein,%20Saks,%20Papir/scissor.png" alt="scissor" class="choices" width="96px">
			</div>
			<div class="choises_div" id="paper">
				<img src="http://elevweb.akershus-fk.no/~scan2008/Stein,%20Saks,%20Papir/Paper.jpg" alt="paper" class="choices" id="paperPic">
			</div>
		</div>
		<div id="chosenPic">
			<div id="leftSide" class="side">
			<!--	<img id="unknown" src="http://elevweb.akershus-fk.no/~auei1302/uke49/media/ukjent.png" alt="Unknown" width="300px" height="300px">-->
			</div>
			<div id="rightSide" class="side">
			<!--	<img id="unknown" src="http://elevweb.akershus-fk.no/~auei1302/uke49/media/ukjent.png" alt="Unknown" width="300px" height="300px">-->
			</div>
		</div>
		<script type="text/javascript">
			var userOnePointsEl = document.querySelector("#points1").innerHTML
			var userTwoPointsEl = document.querySelector("#points2").innerHTML
			class User {
				constructor(topkek) {
					this.points = parseInt(topkek)
					this.pointsEl = topkek
				}
				updateScore(){
					this.pointsEl = this.points
				}
				add(){
					this.points++
					updateScore()
				}
			}
			// eks: var user1 = new User(userOnePointsEl)
			function add() {
				let noe = document.querySelector("#player1")
				noe.innerHTML += "DagSuger"
				let fisk = document.querySelector("#player1elo")
				fisk.innerHTML += "1200"
				let krabbe = document.querySelector("#player2")
				krabbe.innerHTML += "Kjeks"
				let kjeks = document.querySelector("#player2elo")
				kjeks.innerHTML += "1200"
			}
			let stoneEl = document.querySelector("#stone")
			stoneEl.addEventListener("click", chosen)
			function chosen(e) {
				console.log(e);
				//når et bilde blir trykket på skal du gi en class til #leftSide som går at den får background-image = stein
			}
		</script>
	</body>
</html>
