<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Stein, Saks, Papir</title>
		<link rel="stylesheet" href="../public/stylesheets/stylesheet_score.css">
		<link rel="stylesheet" href="../public/stylesheets/stylesheet_pictures.css">
	</head>
	<body>
		<div id="top">
			<div id="frame">
				<div class="inline playerinfo" id="player1info">
					<p id="player1">Player: </p>
					<p id="player1elo">Elo: </p>
				</div>
				<div class="scoreBorder inline">
					<div id="leftdiv" class="score">
					<p id="points1" class="points">0</p>
					</div>
					<div id="rightdiv" class="score">
						<p id="points2" class="points">0</p>
					</div>
				</div>
				<div class="inline playerinfo" id="player2info">
					<p id="player2">Player: </p>
					<p id="player2elo">Elo: </p>
				</div>
			</div>
		</div>
		<div id="options">
			<div class="choises_div stone" id="stone"></div>
			<div class="choises_div scissor" id="scissor"></div>
			<div class="choises_div paper" id="paper"></div>
		</div>
		<div id="chosenPic">
			<div id="leftSide" class="side"></div>
			<div id="rightSide" class="side"></div>
		</div>
		<script type="text/javascript">
			var userOnePointsEl = document.querySelector("#points1").innerHTML
			var userTwoPointsEl = document.querySelector("#points2").innerHTML
			class User {
				constructor(topkek) {
					this.points = parseInt(topkek)
					this.pointsEl = topkek
				}
				updateScore(){
					this.pointsEl = this.points
				}
				add(){
					this.points++
					updateScore()
				}
			}
			// eks: var user1 = new User(userOnePointsEl)
			let stoneEl = document.querySelector("#stone")
			stoneEl.addEventListener("click", chosen)
			let scissorEl = document.querySelector("#scissor")
			scissorEl.addEventListener("click", chosen)
			let paperEl = document.querySelector("#paper")
			paperEl.addEventListener("click", chosen)
			function chosen(e) {
				if(e.target.id === "stone"){
					if(document.querySelector("#leftSide").className.length > 4){
						// nothing happens
					}
					else {
					document.querySelector("#leftSide").className += " stone"
					}
				}
				if(e.target.id === "scissor"){
					if(document.querySelector("#leftSide").className.length > 4){
						// nothting happens
					}
					else {
					document.querySelector("#leftSide").className += " scissor"
					}
				}
				if(e.target.id === "paper"){
					if(document.querySelector("#leftSide").className.length > 4){
						// nothing happens
					}
					else {
					document.querySelector("#leftSide").className += " paper"
					}
				}
			}
		</script>
	</body>
</html>
