doctype html
html
	head
		meta(charset='utf-8')
		title lobby
	body
		form(action='/lobby/create', method='post')
			div
				input(type='submit', value='create lobby')
		form(action='/lobby/delete', method='post')
			div
				input(type='submit', value='delete lobby')
		script(src='/socket.io/socket.io.js' type='text/javascript')
		script(type='text/javascript').
			init()
			let socket = io()
			socket.on('createdLobby', (creator) => {
				let p = document.createElement('p')
				p.innerHTML = `${creator} venter på en spiller`
				document.body.appendChild(p)
			})
			
			socket.on('endedLobby', (creator) => {
				let paragraphs = document.querySelectorAll('p')
				for (let p of paragraphs) {
					if (p.innerHTML.split(' ')[0] === creator) {
						document.body.removeChild(p)
						return
					}
				}
			})
			
			function init() {
				let games = !{JSON.stringify(games)}
				for (let game of games) {
					let p = document.createElement('p')
					p.innerHTML = `${game.creator} venter på en spiller`
					document.body.appendChild(p)
				}
			}
