doctype html
html
	head
		meta(charset='utf-8')
		title lobby
		link(href='/stylesheets/lobby.css', rel='stylesheet')
		link(href='/stylesheets/backgroundColor.css', rel='stylesheet')
	body
		a(href='/logout', id='logout') Log Out
		a(href='/join')
			#join.games
				p Join Game
		#create.games
			p Create Game
		script(type='text/javascript').
			document.querySelector('#create').addEventListener('click', () => {
				let form = document.createElement('form')
				form.method = 'POST'
				form.action = '/lobby/create'
				document.body.appendChild(form)
				form.submit()
			})
