doctype html
html
	head
		meta(charset='utf-8')
		title Registration
		link(href='./stylesheets/login.css', rel='stylesheet')
	body
		.login
			h1 register
			form(action='./register', method='post')
				input(type='text', name='username', placeholder='Username')
				input(type='password', name='password', placeholder='Password')
				input.btn.btn-primary.btn-block.btn-large(type='submit', value='Submit')
			if error
				p #{error}
			p
				| If you have a user
				a(href='./login') sign in
