doctype html
html
	head
		meta(charset='utf-8')
		title register
	body
		p
			| register page, om du har bruker kan du 
			a(href='/login') logge in her
		form(action='/register', method='post')
			div
				label Username:
				input(type='text', name='username')
			div
				label Password:
				input(type='password', name='password')
			div
				input(type='submit', value='Submit')
			if error
				p #{error}
