#logout {
	position: absolute;
	right: 0;
	top: 0;
	color: red;
	text-decoration: underline;
}
.games {
	width: 20vw;
	height: 20vh;
	background-color: rgba(32, 32, 32, 0.5);
	display: block;
	margin: auto;
	margin-top: 10vh;
	border: 1px solid black;
}
.games:hover {
	background-color: rgba(64, 64, 64, 0.5);
}
p {
	text-align: center;
	color: white;
	margin-top: 17.5%;
	font-size: 2vw;
}
body {
	width: 95vw;
	height: 90vh;
}
