body {
    background-color: #008C79;
}
p {
    background-color: white;
    font-family: Open Sans;
}
#top {
    height: 125px;
    background-color: black;
    position: relative;
}
.scoreBorder {
    border: 1px solid black;
    width: 150px;
    height: 123px;
    background-color: white;
    display: block;
    position: absolute;
    left: 45.45%;
}
#leftdiv {
    width: 75px;
    height: 123px;
    float: left;
    border-right: 3px solid black;
}
#rightdiv {
    width: 75px;
    height: 123px;
    margin-left: 75px;
    border-left: 3px solid black;
}
a{
    color: black;
    font-size: 60px;
    text-align: center;
    margin-left: 22.5px;
    padding-top: 63px;
}
