#chosenPic {
    width: 600px;
    height: 300px;
    border: 3px solid black;
    margin: 20px auto;
    display: flex;
}
#leftSide {
    border-right: 1px solid black;
}
#rightSide {
    border-left: 1px solid black;
}
.side{
    flex-grow: 1;
    display: block;
	background-position: center;
    background-repeat: no-repeat;
	background-size: 230px;
	background-color: #322c39;
}
#options {
	position: absolute;
	left: 15vw;
	height: 300px;
	display: block;
	margin-top: 20px;
    overflow: hidden;
}
.choises_div {
    width: 100px;
    height: 90px;
    border: 3px solid black;
    margin-bottom: 6px;
    background-color: rgba(32, 32, 32, 0.5);
	background-size: 100px;
	background-position: center;
    background-repeat: no-repeat;
}
.choises_div:hover {
	background-color: rgba(64, 64, 64, 0.5);
	cursor: pointer;
}
.stone {
	background-image: url("http://elevweb.akershus-fk.no/~scan2008/Stein,%20Saks,%20Papir/stein.png");
}
.scissor {
	background-image: url("http://elevweb.akershus-fk.no/~scan2008/Stein,%20Saks,%20Papir/scissor.png");
}
.paper {
	background-image: url("http://elevweb.akershus-fk.no/~scan2008/Stein,%20Saks,%20Papir/Paper.jpg");
}
